.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  font-weight: 200;
}
.fg-color-white{
  color: #fff;
}
.bg-gray {
  background-color: #d1cece;
}
.nopadding {
  padding: 0;
  margin: 0.6em;
}
.italic{
  font-style: italic;
  font-family: serif;
}
section{
  text-align: center;
}
.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  color: #fff;
}
/* HEADER STYLE START */
.navbar{
  display: block;
  background-color: #000000;
  padding: 0.5em;
}
.page-title{
  padding: 10px;
  color: #fff;
}
.ulist{
  position: absolute;
  right: 5%;
  top: 5%;
  line-height: 1.5;
}
.ulist li{
  list-style-type: none;
  display: inline;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.current::before {
  content: "[";
  color: #fff !important;
  padding: 5px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
}
.current::after{
  content: "]";
  padding: 5px;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.current:hover::after{
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.spacer {
  display: flex;
  justify-content: space-between;
}
/* HEADER STYLE END */

/* BANNER STYLE START */
.outter{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}
.banner{
  text-align: center;
  /* height: 26rem; */
  background: url(./assets/images/banner.png) center fixed;
  background-size: cover;
}
.avatar{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  animation: rxslider 1s linear;
}
.inner-box, .profile_info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5em 0;
  justify-content: center;
}
.profile{
  animation: rxslider 1s linear;
}
.info {
  width: 21rem;
  text-align: left;
  padding-left: 1.2em;
}
/* Divider */
.vertical-divider{
  width: 2px;
  height: 140px;
  background-color: #fff;
  position: relative;
  top: 20%;
}

/* SKILLS SHOWCASE */
.skills_cover{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  margin-left: 1em;
}
.programming_icon {
  width: 4rem;
}
.box {
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.skill_bar {
  background: #032264;
  display: block;
  height: 5px;
  width: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px #2187e7b3;
}
.skill_bar span {
  height: 5px;
  float: left;
  background: #2187e7;
}
.html { width: 90%; animation: html 1s linear;}
.css { width: 90%; animation: html 1s linear; }
.php { width: 70%; animation: php 1s linear;}
.javascript { width: 95%; animation: javascript 1s linear;}
.node { width: 95%; animation: javascript 1s linear;}
.dart { width: 80%; animation: dart 1s linear;}
.flutter { width: 100%; animation: flutter 1s linear;}
.react { width: 65%; animation: react 1s linear;}
.java { width: 75%; animation: java 1s linear;}

/* BANNER STYLE END */

/* EXPERTISE STYLE START */
.expertise_section{
  height: 100%;
}
.justify-inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.2em;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.justify-content-left {
  justify-content: left !important;
}
.sizedbox {
  margin: 2em;
  position: relative;
  padding: 1rem;
}
.unshadowed-card{
  box-shadow: none !important;
}
.unshadowed-card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
}
.card{
  width: 13rem;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 2em;
  overflow: hidden;
  position: relative;
}
.card-body{
  padding: 0 .4em;
}
.img_expertise{
  /* height: 10rem; */
  width: inherit;
}
.incolor_border {
  height: 7px;
  width: 50%;
  background: #000;
  position: absolute;
  bottom: 0;
}
/* EXPERTISE STYLE END */

/* Animation */

@keyframes html { 0% { width: 0%; } 100% { width: 90%; } }
@keyframes php { 0% { width: 0%; } 100% { width: 70%; } }
@keyframes javascript { 0% { width: 0%; } 100% { width: 95%; } }
@keyframes flutter { 0% { width: 0%; } 100% { width: 100%; } }
@keyframes dart { 0% { width: 0%; } 100% { width: 80%; } }
@keyframes react { 0% { width: 0%; } 100% { width: 65%; } }
@keyframes java { 0% { width: 0%; } 100% { width: 75%; } }

@keyframes rxslider{
  0%{
    transform: translateY(-20px);
  } 100% { transform: translateY(22px);}
}

/* MEDIA QUERIES */
@media screen and (max-width: 786px){
  .ulist{
    position: relative;
  }
  .ulist li{
    padding: 5px;
  }
  .skills_cover{
    display: flex;
    flex-wrap: wrap;
  }
  .box{
    padding: .2rem;
  }
  .vertical-divider{
    height: 2px;
    width: 10rem;
  }
  /* .flex{
    flex-wrap:wrap;
  } */
}